/* Герой */

.hero {
  width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  color: var(--primary-white-color);
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url(../images/heroimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: var(--primary-text-color);
}

.hero .title {
  margin: 0;

  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* text-align: center; */
  letter-spacing: 0.06em;
  /* text-transform: uppercase; */
}

.button-link {
  display: inline-block;
  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 38px;

  color: inherit;
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button-link {
  border-color: var(--accent-color);
}

.advantages .container {
  display: flex;
  text-align: left;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages li + li {
  margin-left: 30px;
}

.advantages li {
  width: 270px;
}

.advantages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background: #f5f4fa;

  border-radius: 4px;
}

.advantfges-svg-icon {
  width: 70px;
  height: 70px;
}

.advantages .title {
  margin-top: 30px;

  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text-color);
}

.advantages p {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;
}

/* Cекция Сфер Деятельности */

.activity .grand-title,
.activity .title {
  color: var(--title-text-color);
}

.activity .container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.activity li {
  display: flex;

  position: relative;
}

.activity .grand-title {
  display: inline-block;
  /* margin-top: 94px; */
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
}

.activity ul {
  display: flex;
}

.activity li + li {
  margin-left: 30px;
}

.activity .title {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;

  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Секция Команды */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team .team-list {
  display: flex;
  margin-top: 50px;
}

.team-list > li + li {
  margin-left: 30px;
}

.team-list > li {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.team-list ul {
  display: flex;
  margin-left: 32px;
}

.team-list img {
  border-radius: 4px 4px 0px 0px;
}

.team .grand-title,
.team .title {
  color: var(--title-text-color);
}

.team .grand-title {
  font-size: 36px;
  line-height: 1.17;
}

.team .title {
  margin-top: 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.cpecialazed {
  margin-top: 10px;

  font-size: 16px;
  line-height: 1.19;
}

.team-list ul {
  margin-top: 16px;
  margin-bottom: 24px;

  color: #afb1b8;
}

.team .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;

  color: inherit;

  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icon {
  width: 20px;
  height: 20px;

  fill: currentColor;
}

.social-list-item {
  display: flex;
}

.social-list-item + .social-list-item {
  margin-left: 10px;
}

.team .link:hover,
.team .link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Секция Постоянных клиентов */

.clients .container {
  padding: 94px 0;
}

.clients .title {
  margin: 0;
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  /* text-align: center; */
}

.clients ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  /* padding: 0; */
}

.clients li {
  width: 170px;
}

.clients li + li {
  margin-left: 30px;
}

.clients .link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90px;
  border: 1px solid #afb1b8;

  border-radius: 4px;

  color: #afb1b8;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.company-icon {
  display: flex;
  fill: currentColor;
}

.company-icon.first {
  width: 44px;
  height: 50px;
}

.company-icon.second {
  width: 40px;
  height: 52px;
}

.company-icon.third {
  width: 41px;
  height: 43px;
}

.company-icon.fourth {
  width: 80px;
  height: 42px;
}

.company-icon.fifth {
  width: 59px;
  height: 47px;
}

.company-icon.sixth {
  width: 88px;
  height: 45px;
}

.clients .link:hover,
.clients .link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/* Модалка */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transform: scale(1);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  transform: scale(1.3);
}

.feedback-form {
  position: relative;
  top: 20%;
  width: 528px;
  height: 581px;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: auto;
  padding: 40px;

  background-color: var(--primary-white-color);
}

.feedback-form .title {
  text-align: center;

  color: var(--title-text-color);

  font-size: 20px;
  line-height: 1.15;
}

.form-field {
  position: relative;
  margin-top: 28px;
}

.button-link.form {
  margin-top: 30px;

  color: var(--primary-white-color);
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  color: var(--primary-text-color);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-icon {
  position: absolute;
  left: 20px;
  width: 15px;
  height: 15px;
  top: 50%;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.form-label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(42px, -50%);

  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-label,
.form-input:not(:placeholder-shown) ~ .form-label {
  color: var(--accent-color);
  transform: translate(19px, -38px);
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.01em;
  resize: none;
  outline: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label.textarea {
  position: absolute;
  left: 16px;
  top: 12px;
  transform: translate(0, 0);
}

.form-textarea:focus {
  border: 1px solid var(--accent-color);
}

.form-textarea:focus ~ .form-label,
.form-textarea:not(:placeholder-shown) ~ .form-label {
  color: var(--accent-color);
  transform: translateY(-33px);
}

/* Оформление Чекбокса */

.check-field {
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding-left: 13px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;

  border: 2px solid #212121;
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked ~ .check-icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url('../images/svg-image/full-check.svg');
  background-size: contain;
  background-origin: border-box;
}

.check-label {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy-link {
  margin-left: 5px;
  color: var(--accent-color);

  text-decoration: underline;
}

.button-link.form {
  margin-left: 124px;
}

/* Кнопка закрытия формы */

.button-close {
  position: absolute;
  top: 0;
  right: 0;

  transform: translate(50%, -50%);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  overflow: hidden;

  background-color: var(--primary-white-color);

  width: 30px;
  height: 30px;
}

.image-close {
  width: 18px;
  height: 18px;

  fill: var(--title-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.image-close:hover {
  fill: var(--accent-color);
}
